<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User </h1>
    <a routerLink="/user-create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Create User</a>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let user of userList">

                        <td>
                            <a routerLink="/user-view/1"> {{user.username}}</a>
                        </td>
                        <td>{{user.position}}</td>
                        <td>{{user.office}}</td>
                        <td>{{user.age}}</td>
                        <td>2011/04/25</td>
                        <th>
                            <a [routerLink]="['/user-edit', user.id]"> Edit</a>  |
                            <a routerLink ="/user" (click)="deleteuser(user.id)"> Delete</a> 
                            
                        </th>
                    </tr>
            </tbody></table>
            </div>
            </div>
            </div>
            